nav
{
    background: linear-gradient(to right, #950b0b, #440606);
    .content
    {
        padding: 10px 0px;
    }
    .logo
    {
        color: #fff;
    }
    .list
    {
        width: 20%;
    }
    li
    {
        font-size: 22px;
        cursor: pointer;
    }
   
}