<nav>
   <div class="container">
      <div class="content d-flex justify-content-between">
          <div class="logo">
            <h2>Market</h2>
          </div>
          <div class="list">
            <ul class="d-flex justify-content-between m-0">
                <li>
                    <a routerLink="products"> Products </a>
                </li>
                <li>
                    <a routerLink="cart"> carts </a>
                </li>
            </ul>
          </div>
      </div>
   </div>
</nav>